.vs/
bin/
obj/
*.user

test-results
*.pidb
*.userprefs
*.pfx
cmd.exe
[Pp]ackage
[Gg]it [Bb]ash.lnk
[Ii]nore
FluentAssertionsMvc.VisualState.xml
[Rr]elease
TestResult.xml
[Tt]est[Rr]esults/
*.gpState
*.nupkg
*.snupkg

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
