[Bb]in
[Oo]bj
*.suo
*.user
test-results
*.pidb
*.userprefs
*.pfx
cmd.exe
[Pp]ackage
[Gg]it [Bb]ash.lnk
[Ii]nore
FluentAssertionsMvc.VisualState.xml
[Rr]elease
TestResult.xml
[Tt]est[Rr]esults/
*.gpState
[Pp]ackages/
*.nupkg
/.vs

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
